
.logo {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  svg {
    width: 100%;
  }
}

.nav_profile {
  align-items: center;

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  //padding: 16px;
  //margin: 14px;
  position: relative;

  .navBg {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
  }


  h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.57;
    color: #7D8592;
    margin: 0px;
  }

  p {
    color: #7D8592;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
}

.avatar {
  /*   cursor: pointer;*/
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

li.item {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

li.itemLeaf {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  a{
    width: 100%;
  }
}

button.button {
  //color: textSecondary;
  padding: 10px 8px;
  justify-content: flex-start;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
}

a.buttonLeaf {
  display: block;
  width: 100%;
}

a.buttonLeaf > button {
  //color: textSecondary;
  padding: 20px;
  max-height: 64px;
  justify-content: flex-start;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
  font-weight: 400;

  &.depth-0 {
    .title {
      font-weight: 500;
    }
  }
}

.buttonLeafActive {
  background-color: #F4F9FD !important;
  border-radius: 10px;
  position: relative;
  &:after{
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3F8CFF;
    
  }
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.title {
  margin-right: auto
}

.active {
  //color: secondary;

  & .title {
    font-weight: 500;
  }

  & .icon {
    //color: secondary
  }
}

div.mobile_drawer {
  width: 256px;
  margin-top: 63px;
  height: 90%;

  overflow-y: scroll;
  //background-color: #274470;
  //@media (max-height: 570px) {
  //  height: 90%;
  //}
}

.desktop_drawer {
  width: 256px;
  position: relative;
  top: 64px;
  height: calc(100% - 64px);
}

.profile_content {
  background-color: #ffffff;
}

div.desktop_drawerSideBar {
  margin: 20px;
  //margin-top: 64px;
  background-color: #fff;
  //overflow-y: scroll;
  //&::-webkit-scrollbar {
  //  height: 0;
  //  width: 6px;
  //  background-color: #274470;
  //  transition: .2s;
  //  opacity: .75;
  //}
  //
  //&::-webkit-scrollbar-thumb {
  //  -webkit-border-radius: 0;
  //  border-radius: 10px;
  //  background-color: rgba(192, 190, 190, 0.42);
  //  transition: .2s;
  //}
  //
  //&:hover::-webkit-scrollbar {
  //  opacity: 1;
  //}
}

button.drawerSideBarButton {
  height: 100%;
  color: #3F8CFF;
  //background-color: #274470;
  text-transform: inherit;


  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

span.drawerTitleBtn {
  color: #3F8CFF;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

hr.divider {
  background: #FFFFFF;
  opacity: 0.1;
  margin: 20px 0;
}

.desktopSideBar {
  //display: block;
  //@media (max-width: 1024px) {
  //  display: none;
  //
  //}
}

.laptopSideBar {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}

.scroll {
}

.listWrap {
  padding-bottom: 40px;
  //height: 100%;
  //@media (max-height: 570px) {
  //  height: auto;
  //}
}